<div class="container">
  <div class="row">
    <div class="col-sm-6 mx-auto">
      <form #signupForm="ngForm" (ngSubmit)="xuLyDangKy(signupForm)">
        <div class="form-group">
          <label for="taiKhoan">Tài khoản</label>
          <input
            type="text"
            name="taiKhoan"
            id="taiKhoan"
            class="form-control"
            placeholder=""
            ngModel
            #taiKhoan="ngModel"
            required
            minlength="3"
            maxlength="20"
          />
          <div
            *ngIf="taiKhoan.invalid && (taiKhoan.touched || taiKhoan.dirty)"
            class="alert alert-danger text-danger"
          >
            <span *ngIf="taiKhoan.errors.required">
              Tài khoản không được để trống
            </span>
            <span
              *ngIf="taiKhoan.errors.minlength || taiKhoan.errors.maxlenght"
            >
              Tài khoản phải từ 3 ký tự tới 20 ký tự
            </span>
          </div>
        </div>
        <div class="form-group">
          <label for="matKhau">Mật khẩu</label>
          <input
            type="password"
            name="matKhau"
            id="matKhau"
            class="form-control"
            placeholder=""
            ngModel
            #matKhau="ngModel"
            required
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{5,}"
          />
          <div
            *ngIf="matKhau.invalid && (matKhau.touched || matKhau.dirty)"
            class="alert alert-danger text-danger"
          >
            <span *ngIf="matKhau.errors.required">
              Mật khẩu không được để trống
            </span>
            <span *ngIf="matKhau.errors.pattern">
              Tài khoản phải từ 5 ký tự và phải có ít nhất một chữ hoa, 1 số, và
              một chữ thường
            </span>
          </div>
        </div>
        <div class="form-group">
          <label for="email">Họ tên</label>
          <input
            type="text"
            name="hoTen"
            id="hoTen"
            class="form-control"
            placeholder=""
            ngModel
            #hoTen="ngModel"
            required
          />
          <div
            *ngIf="hoTen.invalid && (hoTen.touched || hoTen.dirty)"
            class="alert alert-danger text-danger"
          >
            <span *ngIf="hoTen.errors.required">
              Họ tên không được để trống
            </span>
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="text"
            name="email"
            id="email"
            class="form-control"
            placeholder=""
            ngModel
            #email="ngModel"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
          />
          <div
            *ngIf="email.invalid && (email.touched || email.dirty)"
            class="alert alert-danger text-danger"
          >
            <span *ngIf="email.errors.required">
              Email không được để trống
            </span>
            <span *ngIf="email.errors.pattern">
              Email không đúng định dạng
            </span>
          </div>
        </div>
        <div class="form-group">
          <label for="soDt">Số điện thoại</label>
          <input
            type="text"
            name="soDt"
            id="soDt"
            class="form-control"
            placeholder=""
            ngModel
            #soDt="ngModel"
          />
          <div
            *ngIf="soDt.invalid && (soDt.touched || soDt.dirty)"
            class="alert alert-danger text-danger"
          >
            <span *ngIf="soDt.errors.required">
              Số điện thoại không được để trống
            </span>
          </div>
        </div>
        <button
          type="submit"
          class="btn btn-success"
          [disabled]="signupForm.invalid"
        >
          Đăng ký
        </button>
      </form>
    </div>
  </div>
</div>
