<div class="row">
  <div *ngFor="let movie of movieList" class="col-sm-3">
    <app-movie-item
      [movie]="movie"
      (selectMovie)="viewDetail($event)"
    ></app-movie-item>
  </div>
</div>
<!-- <div *ngIf="movieDetail" class="row my-4">
  <div class          = "col-sm-6">
    <img [src]        = "movieDetail.hinhAnh" alt="" width="300px" height="300px" />
  </div>
  <div class          = "col-sm-6">
    <h1>{{ movieDetail.tenPhim }}</h1>
    <p>{{ movieDetail.gia }}</p>
  </div>
</div> -->
